#online {
  background: #444;
}

#main {
  margin-bottom: 150px;
}
footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.online-header {
  display: inline-block;
  padding: 0 !important;
  float: left;
}

li.ng-scope {
  display: inline-block;
  margin: 0 5px;
}
ul.list-inline {
  display: inline-block;
}
.green {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}
.green:hover {
  background: #449d44;
  border-color: #449d44;
}

.label-calls {
    text-shadow: none !important;
    font-size: 13px;
    font-weight: 300;
    padding: 3px 6px 3px 6px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.label-info {
    background-color: #89c4f4;
}
.label-warning {
    background-color: #f8cb00;
}
